workflows/02-bidirectional-sync.json
{
  "name": "02 - Bidirectional Sync Core",
  "nodes": [
    {
      "parameters": {
        "events": "[\"after.update\", \"after.create\"]",
        "topic": "/data/AccountChangeEvent",
        "maxMessages": 5,
        "credentialType": "salesforceApi",
        "credentials": {
          "salesforceApi": {
            "id": null,
            "name": "Salesforce account - Odoo Sandbox"
          }
        }
      },
      "name": "Salesforce Account Trigger",
      "type": "n8n-nodes-base.salesforceTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "salesforce-account-trigger"
    },
    {
      "parameters": {
        "events": "[\"onCreate\", \"onUpdate\"]",
        "model": "res.partner",
        "additionalFields": {},
        "credentialType": "odooApi",
        "credentials": {
          "odooApi": {
            "id": null,
            "name": "Odoo account - Local"
          }
        }
      },
      "name": "Odoo Partner Trigger",
      "type": "n8n-nodes-base.odooTrigger",
      "typeVersion": 1,
      "position": [
        240,
        500
      ],
      "webhookId": "odoo-partner-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json(\"ChangeEventHeader\")?.changeType }}",
              "operation": "notEqual",
              "value2": "DELETE"
            }
          ]
        }
      },
      "name": "Filter Salesforce Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Field mapping function\nconst fieldMappings = {\n  'Account': {\n    'Name': 'name',\n    'Phone': 'phone',\n    'Website': 'website',\n    'Industry': 'industry_id',\n    'NumberOfEmployees': 'employee_count',\n    'BillingStreet': 'street',\n    'BillingCity': 'city',\n    'BillingPostalCode': 'zip',\n    'BillingCountry': 'country_id',\n    'BillingState': 'state_id'\n  }\n};\n\nconst event = $json;\nconst objectName = event.ChangeEventHeader?.entityName;\nconst recordId = event.ChangeEventHeader?.recordIds?.[0];\n\nif (!objectName || !fieldMappings[objectName]) {\n  return null;\n}\n\nconst mappedData = {};\nfor (const [sfField, odooField] of Object.entries(fieldMappings[objectName])) {\n  if (event[sfField] !== undefined) {\n    mappedData[odooField] = event[sfField];\n  }\n}\n\nreturn {\n  originalEvent: event,\n  mappedData: mappedData,\n  objectName: objectName,\n  recordId: recordId,\n  direction: 'salesforce_to_odoo'\n};"
      },
      "name": "Map Salesforce to Odoo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Map Odoo to Salesforce\nconst fieldMappings = {\n  'res.partner': {\n    'name': 'Name',\n    'phone': 'Phone',\n    'website': 'Website',\n    'street': 'BillingStreet',\n    'city': 'BillingCity',\n    'zip': 'BillingPostalCode',\n    'country_id': 'BillingCountry',\n    'state_id': 'BillingState'\n  }\n};\n\nconst event = $json;\nconst model = event.model;\n\nif (!model || !fieldMappings[model]) {\n  return null;\n}\n\nconst mappedData = {};\nfor (const [odooField, sfField] of Object.entries(fieldMappings[model])) {\n  if (event[odooField] !== undefined) {\n    mappedData[sfField] = event[odooField];\n  }\n}\n\nreturn {\n  originalEvent: event,\n  mappedData: mappedData,\n  objectName: 'Account',\n  recordId: event.id,\n  direction: 'odoo_to_salesforce'\n};"
      },
      "name": "Map Odoo to Salesforce",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        500
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "resource": "record",
        "model": "res.partner",
        "id": "={{ $json(\"recordId\") }}",
        "additionalFields": {},
        "fieldsUi": {
          "fieldValues": [
            {
              "field": "name",
              "value": "={{ $json(\"mappedData\").name }}"
            }
          ]
        },
        "credentialType": "odooApi",
        "credentials": {
          "odooApi": {
            "id": null,
            "name": "Odoo account - Local"
          }
        }
      },
      "name": "Update Odoo Partner",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "upsert",
        "object": "Account",
        "externalId": "Odoo_ID__c",
        "updateAllRecords": true,
        "additionalFields": {},
        "fieldsUi": {
          "fieldValues": [
            {
              "field": "Name",
              "value": "={{ $json(\"mappedData\").Name }}"
            }
          ]
        },
        "credentialType": "salesforceApi",
        "credentials": {
          "salesforceApi": {
            "id": null,
            "name": "Salesforce account - Odoo Sandbox"
          }
        }
      },
      "name": "Update Salesforce Account",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        720,
        500
      ]
    },
    {
      "parameters": {
        "level": "info",
        "message": "Sync completed for {{ $json.direction }} - Record: {{ $json.recordId }}"
      },
      "name": "Log Sync Success",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ]
    }
  ],
  "connections": {
    "Salesforce Account Trigger": {
      "main": [
        [
          {
            "node": "Filter Salesforce Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Partner Trigger": {
      "main": [
        [
          {
            "node": "Map Odoo to Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Salesforce Events": {
      "main": [
        [
          {
            "node": "Map Salesforce to Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Salesforce to Odoo": {
      "main": [
        [
          {
            "node": "Update Odoo Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Odoo to Salesforce": {
      "main": [
        [
          {
            "node": "Update Salesforce Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Odoo Partner": {
      "main": [
        [
          {
            "node": "Log Sync Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Salesforce Account": {
      "main": [
        [
          {
            "node": "Log Sync Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "bidirectional-sync-001",
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z"
}