workflows/03-error-handling.json
{
  "name": "03 - Error Handling & Monitoring",
  "nodes": [
    {
      "parameters": {
        "maxAttempts": 3,
        "continue": "On Error",
        "options": {
          "sleepTime": 5000
        }
      },
      "name": "Global Error Handler",
      "type": "n8n-nodes-base.errorHandler",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "level": "error",
        "message": "Sync Error: {{ $json.error.message }} | Direction: {{ $json.direction }} | Record: {{ $json.recordId }}"
      },
      "name": "Log Error to Sentry",
      "type": "n8n-nodes-base.sentryIo",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "object": "Error_Log__c",
        "additionalFields": {},
        "fieldsUi": {
          "fieldValues": [
            {
              "field": "Error_Message__c",
              "value": "={{ $json(\"error\").message }}"
            },
            {
              "field": "Record_ID__c",
              "value": "={{ $json(\"recordId\") }}"
            },
            {
              "field": "Direction__c",
              "value": "={{ $json(\"direction\") }}"
            },
            {
              "field": "Status__c",
              "value": "Failed"
            }
          ]
        },
        "credentialType": "salesforceApi",
        "credentials": {
          "salesforceApi": {
            "id": null,
            "name": "Salesforce account - Odoo Sandbox"
          }
        }
      },
      "name": "Log to Salesforce",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "record",
        "model": "sync.error.log",
        "additionalFields": {},
        "fieldsUi": {
          "fieldValues": [
            {
              "field": "name",
              "value": "Sync Error: {{ $json(\"error\").message }}"
            },
            {
              "field": "record_id",
              "value": "={{ $json(\"recordId\") }}"
            },
            {
              "field": "direction",
              "value": "={{ $json(\"direction\") }}"
            }
          ]
        },
        "credentialType": "odooApi",
        "credentials": {
          "odooApi": {
            "id": null,
            "name": "Odoo account - Local"
          }
        }
      },
      "name": "Log to Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        720,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "// Create retry payload\nconst errorData = $json;\n\nreturn {\n  originalData: errorData.originalData,\n  retryCount: (errorData.retryCount || 0) + 1,\n  lastError: errorData.error.message,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Prepare Retry Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "maxSize": "100MB"
        },
        "binaryPropertyName": "data"
      },
      "name": "Save Error to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        960,
        500
      ]
    }
  ],
  "connections": {
    "Global Error Handler": {
      "main": [
        [
          {
            "node": "Log Error to Sentry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Sentry": {
      "main": [
        [
          {
            "node": "Log to Salesforce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Retry Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry Data": {
      "main": [
        [
          {
            "node": "Save Error to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "error-handling-001",
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z"
}