workflows/odoo-to-salesforce-lead-sync.json
{
  "name": "Odoo to Salesforce Lead Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odoo-to-salesforce-lead",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-736, 80]
    },
    {
      "parameters": {
        "resource": "crm.lead",
        "operation": "get",
        "id": "={{$node['Webhook'].json.body.id}}",
        "additionalFields": {}
      },
      "id": "2",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [-528, 80],
      "credentials": {
        "odooApi": {
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "customObject",
        "operation": "getAll",
        "customObject": "Lead__c",
        "queryFilter": {
          "queryFilter": [
            {
              "field": "email__c",
              "operator": "equal",
              "value": "={{$node['Odoo'].json.email}}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "3",
      "name": "Check Salesforce Lead",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [-352, 80],
      "credentials": {
        "salesforceOAuth2Api": {
          "name": "Salesforce account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "customObject",
        "operation": "create",
        "customObject": "Lead__c",
        "additionalFields": {
          "name__c": "={{$node['Odoo'].json.name}}",
          "email__c": "={{$node['Odoo'].json.email}}",
          "company__c": "={{$node['Odoo'].json.company}}"
        }
      },
      "id": "4",
      "name": "Create Salesforce Lead",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [32, 208],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "name": "Salesforce account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "customObject",
        "operation": "update",
        "customObject": "Lead__c",
        "recordId": "={{$node['Check Salesforce Lead'].json[0].Id}}",
        "updateFields": {
          "name__c": "={{$node['Odoo'].json.name}}",
          "email__c": "={{$node['Odoo'].json.email}}",
          "company__c": "={{$node['Odoo'].json.company}}"
        }
      },
      "id": "5",
      "name": "Update Salesforce Lead",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [16, -112],
      "executeOnce": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "name": "Salesforce account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node['Check Salesforce Lead'].json.length > 0}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6",
      "name": "IF Lead Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-176, 80]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Failed to sync lead to Salesforce"
            }
          ]
        },
        "options": {}
      },
      "id": "7",
      "name": "Error Handling",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [288, 48],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Check Salesforce Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Salesforce Lead": {
      "main": [
        [
          {
            "node": "IF Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Lead Exists": {
      "main": [
        [
          {
            "node": "Update Salesforce Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Salesforce Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Salesforce Lead": {
      "main": [
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Salesforce Lead": {
      "main": [
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4f1af6f-1fc4-463d-b5da-be85c36d949f",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "3QNOTBB66kQ3m3Xj",
  "tags": []
}