workflows/salesforce-to-odoo-lead-sync.json
{
  "name": "Salesforce to Odoo Lead Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salesforce-to-odoo-lead",
        "options": {}
      },
      "id": "15e62ad1-736c-4d42-b564-ca5f5095b9b5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-736, 80],
      "webhookId": "a8ca50bf-429c-4001-b55c-2dd0151af250"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "customObject",
        "operation": "get",
        "customObject": "Lead__c",
        "recordId": "={{$node['Webhook'].json.body.Id}}",
        "additionalFields": {}
      },
      "id": "f182e811-f345-45d6-80f1-36f687a94373",
      "name": "Salesforce",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [-528, 80],
      "credentials": {
        "salesforceOAuth2Api": {
          "name": "Salesforce account"
        }
      }
    },
    {
      "parameters": {
        "resource": "crm.lead",
        "operation": "getAll",
        "filters": {
          "conditions": [
            {
              "field": "email",
              "operator": "equal",
              "value": "={{$node['Salesforce'].json.email__c}}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "5dc3a918-e6b2-48a1-9e8a-8230c1b573eb",
      "name": "Check Odoo Lead",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [-352, 80],
      "credentials": {
        "odooApi": {
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "crm.lead",
        "operation": "create",
        "fields": {
          "values": [
            {
              "field": "name",
              "value": "={{$node['Salesforce'].json.name__c}}"
            },
            {
              "field": "email",
              "value": "={{$node['Salesforce'].json.email__c}}"
            },
            {
              "field": "company",
              "value": "={{$node['Salesforce'].json.company__c}}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "2647f4d8-dc6f-4680-a053-6e45c66563e9",
      "name": "Create Odoo Lead",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [32, 208],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "crm.lead",
        "operation": "update",
        "id": "={{$node['Check Odoo Lead'].json[0].id}}",
        "fields": {
          "values": [
            {
              "field": "name",
              "value": "={{$node['Salesforce'].json.name__c}}"
            },
            {
              "field": "email",
              "value": "={{$node['Salesforce'].json.email__c}}"
            },
            {
              "field": "company",
              "value": "={{$node['Salesforce'].json.company__c}}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "f93f84a6-4fd3-45bc-83e0-8785f1a77ed5",
      "name": "Update Odoo Lead",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [16, -112],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node['Check Odoo Lead'].json.length > 0}}",
              "value2": true
            }
          ]
        }
      },
      "id": "5f479ebd-8846-476d-a996-c53b8ebcc55d",
      "name": "IF Lead Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-176, 80]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Failed to sync lead to Odoo"
            }
          ]
        },
        "options": {}
      },
      "id": "50ce31cc-704b-4d70-9b52-793c624c81eb",
      "name": "Error Handling",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [288, 48],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salesforce": {
      "main": [
        [
          {
            "node": "Check Odoo Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Odoo Lead": {
      "main": [
        [
          {
            "node": "IF Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Lead Exists": {
      "main": [
        [
          {
            "node": "Update Odoo Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Odoo Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Odoo Lead": {
      "main": [
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Odoo Lead": {
      "main": [
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b48de64-2f25-4da5-a074-9c15925b48fc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "2PNOTBB66kQ3m3Xj",
  "tags": []
}