init-data/workflows.json
[
  {
    "name": "Odoo \u2192 Salesforce Sync",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "cronExpression": "*/30 * * * *"
        },
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "url": "{{ $env.ODOO_URL }}/web/dataset/call_kw",
          "method": "POST",
          "sendBody": true,
          "bodyParametersJson": "{ \\\"jsonrpc\\\": \\\"2.0\\\", \\\"method\\\": \\\"call\\\", \\\"params\\\": { \\\"model\\\": \\\"res.partner\\\", \\\"method\\\": \\\"search_read\\\", \\\"args\\\": [], \\\"kwargs\\\": { \\\"fields\\\": [\\\"name\\\", \\\"email\\\"], \\\"domain\\\": [[\\\"customer_rank\\\", \\\">\\\", 0]] } } }"
        },
        "name": "Fetch from Odoo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          500,
          300
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": null,
            "name": "Odoo API"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "sObject": "Contact",
          "updateFields": {
            "LastName": "={{$json[\"name\"]}}",
            "Email": "={{$json[\"email\"]}}"
          },
          "externalId": "Email"
        },
        "name": "Upsert in Salesforce",
        "type": "n8n-nodes-base.salesforce",
        "typeVersion": 1,
        "position": [
          750,
          300
        ],
        "credentials": {
          "salesforceApi": {
            "id": null,
            "name": "Salesforce OAuth2"
          }
        }
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Fetch from Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch from Odoo": {
        "main": [
          [
            {
              "node": "Upsert in Salesforce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "Salesforce \u2192 Odoo Sync",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "cronExpression": "*/30 * * * *"
        },
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          250,
          500
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "sObject": "Contact",
          "fields": "Id,LastName,Email",
          "conditions": "LastModifiedDate=LAST_N_DAYS:1"
        },
        "name": "Fetch from Salesforce",
        "type": "n8n-nodes-base.salesforce",
        "typeVersion": 1,
        "position": [
          500,
          500
        ],
        "credentials": {
          "salesforceApi": {
            "id": null,
            "name": "Salesforce OAuth2"
          }
        }
      },
      {
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "url": "{{ $env.ODOO_URL }}/web/dataset/call_kw",
          "method": "POST",
          "sendBody": true,
          "bodyParametersJson": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { model: 'res.partner', method: 'create', args: [{ name: $json[\"LastName\"], email: $json[\"Email\"] }] } }) }}"
        },
        "name": "Create/Update in Odoo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          750,
          500
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": null,
            "name": "Odoo API"
          }
        }
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Fetch from Salesforce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch from Salesforce": {
        "main": [
          [
            {
              "node": "Create/Update in Odoo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
]